:root {
  /* Colors */
  --clr-primary-900: hsl(233, 47%, 7%); /* main background*/
  --clr-primary-700: hsl(244, 38%, 16%); /* card background*/
  --clr-primary-400: rgb(170, 92, 219); /* accent */
  --clr-primary-500: rgb(88, 13, 134);
  --clr-neutral-100: hsl(0, 0%, 100%); /* main heading, stats*/
  --clr-neutral-400: hsla(0, 0%, 100%, 0.75); /* main p*/
  --clr-neutral-500: hsla(0, 0%, 100%, 0.6); /* stat heading*/
  /* Font sizes */

  --fs-200: 0.75rem;
  --fs-400: 0.9375rem; /*body*/
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;

  /* Font family */

  --ff-inter: "Inter", sans-serif;
  --ff-lexend: "Lexend Deca", sans-serif;

  /* Font weights */
  --fw-400: 400;
  --fw-700: 700;

  /* Border radius */
  --br-1: 0.5rem;

  /* spacers */
  --spacer-1: 0.5rem;
  --spacer-2: 1rem;
  --spacer-3: 1.5rem;
  --spacer-4: 1.75rem;
  --spacer-5: 2rem;
  --spacer-6: 2.25rem;
  --spacer-7: 2.5rem;
}

@media (min-width: 35.7421875em) {
  :root {
    --spacer-5: 3.5rem;
    --fs-200: 0.625rem;
    --fs-600: 1.25rem;
  }
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--ff-inter);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.6;
  color: var(--clr-neutral-400);
  background-color: var(--clr-primary-900);
}

h2 {
  font-size: var(--fs-700);
  color: var(--clr-neutral-100);
  text-wrap: balance;
}

h3 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-100);
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

/* composition */

.flow > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 38.125em) {
  .split {
    flex-direction: row-reverse;
  }

  .split > *:nth-child(1) {
    flex: 1 1 45%;
  }

  .split > *:nth-child(2) {
    flex: 1 1 55%;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--flow-spacer, 1em);
}

@media (min-width: 38.125em) {
  .flex {
    flex-direction: row;
  }
}

.wrapper {
  max-width: 60.75em;
}

/* utility */

.padding-3 {
  padding: var(--spacer-3);
}

.padding-5 {
  padding: var(--spacer-5);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-fs-200 {
  font-size: var(--fs-200);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.background-primary-700 {
  background-color: var(--clr-primary-700);
}

.br-1 {
  border-radius: var(--br-1);
}

/* block */

.card {
  overflow: hidden;
  text-align: center;
}

@media (min-width: 38.125em) {
  .card {
    text-align: left;
  }
}

.card-image {
  position: relative;
}

.card-image img {
  object-fit: cover;
  min-height: 100%;
}

.card-image::after {
  position: absolute;
  content: "";
  inset: 0;
  background: var(--clr-primary-500);
  opacity: 0.6;
  z-index: 10;
}

.card-info {
  --flow-spacer: 1.75em;
}

@media (min-width: 38.125em) {
  .card-info {
    --flow-spacer: 3rem;
  }
}

.card-info p {
  letter-spacing: 1px;
  --flow-spacer: 0.5em;
}
